<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nasa's media of the day</title>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <h1><%= nasaData.title %></h1>
    <p>date: <%= nasaData.date %></p>
    <p>explanation: <%= nasaData.explanation %></p>
    <div>
      <img
        src="<%= nasaData.url %>"
        alt="nasaImage"
        style="max-width: 100%; height: auto"
      />
    </div>
  </body>
</html>
