<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add New Author</h1>

    <form action="/author/edit" method="POST">
      <input
        type="hidden"
        name="authorId"
        value="<%=authorData[0].authorId%>"
      />
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        name="firstName"
        value="<%=authorData[0].firstName%>"
      />
      <br />
      <br />
      <label for="lastName">Last Name</label>
      <input
        id="lastName"
        name="lastName"
        value="<%=authorData[0].lastName%>"
      />
      <br />
      <br />
      <label>Gender</label>
      <label for="male">
        <input type="radio" id="male" name="gender" value="male" <%=
        (authorData[0].sex === 'm') ? "checked" : ""%> /> Male
      </label>
      <label for="female">
        <input type="radio" id="female" name="gender" value="female" <%=
        (authorData[0].sex === 'f') ? "checked" : ""%>/> Female
      </label>
      <br />
      <br />
      <label for="biography">Biography</label>
      <textarea id="biography" name="biography">
<%=authorData[0].biography%></textarea
      >
      <br />
      <br />
      <label for="picture">Picture</label>
      <textarea id="picture" name="picture">
<%=authorData[0].portrait%></textarea
      >
      <br />
      <br />
      <label for="dob">Date of Birth</label>
      <% let dob = new Date(authorData[0].dob); let dobFormatted =
      dob.getFullYear() + "-" + String(dob.getMonth() + 1).padStart(2, '0') +
      "-" + String(dob.getDate()).padStart(2, '0'); %>
      <input id="dob" name="dob" type="date" value="<%= dobFormatted %>" />
      <br />
      <br />
      <label for="dod">Date of Death</label>
      <% let dod = new Date(authorData[0].dod); let dodFormatted =
      dod.getFullYear() + "-" + String(dod.getMonth() + 1).padStart(2, '0') +
      "-" + String(dod.getDate()).padStart(2, '0'); %>
      <input id="dod" name="dod" type="date" value="<%=dodFormatted%>" />
      <br />
      <br />
      <button>Edit Author</button>
    </form>
    <script src="/js/author.js"></script>
  </body>
</html>
